<div class="modal   fade" role="dialog" id="textareaFormModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>文本属性编辑</h3>
            </div>
            <div class="modal-body">
                <div role="form" class="form-horizontal col-md-12">
                    <div class="form-group">
                        <label for="elementName" class="col-sm-2 control-label">表单ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="textarea_Name"
                                   placeholder="请输入唯一的表单ID(英文字符加数组)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="elementName" class="col-sm-2 control-label">初始内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="textarea_Value"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="elementName" class="col-sm-2 control-label">文本框高度(默认是行数)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="textarea_Number" value="5"
                                   placeholder="请输入唯一的表单ID(英文字符加数组)">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer"> <a id="textarea_propertiessave" class="btn btn-primary" data-dismiss="modal">保存</a> <a class="btn" data-dismiss="modal">关闭</a> </div>
        </div>
    </div>
</div>
